repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: end-of-file-fixer
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.2
    hooks:
      - id: ruff-check # linter
        args: [--fix]
      - id: ruff-format # formatter
  - repo: local
    hooks:
      - id: pyright
        name: pyright (local venv)
        entry: .venv/bin/pyright
        language: system
        types: [python]
        pass_filenames: false
